<table style="cellpadding:0; cellspacing:0; width:616px; height: 135px;">
    <tr>
        <td style="text-align: center; height: 135px;">
            <img style="height: 127px;" src="{{ url_for('static', filename='dp.png') }}">
        </td>
        <td style="border-right: 2px solid black; width: 154px; height: 135px;">
            <div style="max-width: 154px;">
                <p style="margin-top: 5px; margin-bottom: 5px;"><span style="font-family:Verdana; font-size: 16px; text-align: left;">Amit Das </span></p>
                <p style="margin-top: 5px; margin-bottom: 5px"><span style="font-family:Verdana; font-size: 16px; text-align: left;">Developer</span></p>
            </div>

        </td>
        
        
        <td style="width: 308px; height: 135px;">
            
            <div style="margin-top: 10px;margin-bottom: 10px; display: flex; align-items: center; justify-content: start; height: 30px;">
                <img style="padding-left: 20px; height: 20px; width: 20px;" src="{{ url_for('static', filename='icons/phone.png')}}">
                <a style="padding-left: 15px; font-size: 16px; font-family:Verdana; text-decoration: none; color: #000000; text-decoration-line: underline;" href="tel:+91-7011352542">+91-7011352542</a>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;display: flex; align-items: center; justify-content: start; height: 30px;">
                <img style="padding-left: 20px; height: 20px; width: 20px;" src="{{ url_for('static', filename='icons/mail.png')}}">
                <a style="padding-left: 15px; font-size: 16px; font-family:Verdana; text-decoration: none; color: #000000; text-decoration-line: underline;" href="mailto:mramitdas99@gmail.com">mramitdas99@gmail.com</a>
            </div>
            <div style="margin-top: 10px;margin-bottom: 10px;display: flex; align-items: center; justify-content: start; height: 30px;">
                <img style="padding-left: 20px; height: 20px; width: 20px;" src="{{ url_for('static', filename='icons/location.png')}}">
                <a style="padding-left: 15px; font-size: 16px; font-family:Verdana; text-decoration: none; color: #000000;" href="">New Delhi | India</a>
            </div>
        
        </td>
    </tr>

</table> 


<table style="cellpadding:0; cellspacing:0; width:616px; height: 80px; border-top: 2px solid black; margin-top: 10px;">
    <tr>
        <td style="text-align: center;">
            <p><span style="font-family:Verdana; margin-top: 10px; font-size: 16px; font-weight: 600;">Follow me!</span></p>

            <a style="text-decoration:none;" href="https://github.com/mramitdas" target="_blank"> 
                <img style="margin-left: 15px; margin-right: 15px; height: 30px; width: 30px;" src="{{ url_for('static', filename='social/github.png')}}">
            </a>
            
            <a style="text-decoration:none;" href="https://linkedin.com/in/mramitdas" target="_blank">
                <img  style="margin-left: 15px; margin-right: 15px; height: 30px; width: 30px;" src="{{ url_for('static', filename='social/linkedin.png')}}">
            </a>
            
            <a style="text-decoration:none;" href="https://www.hackerrank.com/mramitdas" target="_blank">
                <img  style="margin-left: 15px; margin-right: 15px; height: 30px; width: 30px;" src="{{ url_for('static', filename='social/hackerank.png')}}">
            </a>
        </td>
    </tr>
</table>